@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rambla');
/* preset */

a{text-decoration: none!important}

/* container */
.container {margin: 0 auto;max-width:780px;}
/* header{position: fixed;width:100%;top:0;z-index:2;} */
header{z-index:15000;position: fixed;top:0;}
header [class^=inya-]{position:relative;left:0;font-size:2em;top:0.2em}
.mainmenu{padding:0.2em 0}
.mainmenu li{padding:0.7em 0}
.mainmenu a{padding:0.8em;font-size:1em}

.on-scroll-shadow{box-shadow:none}
.right{float: right;}
.left{float: left;}
.logo{margin:4px;width:50px;height:55px;}
.logo img{width:50px;height:55px}
/* clear */
.clear,.divider{overflow: auto;clear: both;}
.clear::after {
   content: "";
   clear: both;
   display: table;
 }
 .copyright{padding:1em}
.section {padding-top: 1rem;padding-bottom: 1rem;}
/* align */
.left-align{text-align: left}
.center-align{text-align: center}
.right-align{text-align: right}
.center{margin:0 auto}
/* heading */
h1,h2,h3,h4,h5,h1 a,h2 a,h3 a,h4 a,h5 a{font-family:'Rambla', sans-serif;}

/* title */
.title{padding:1em 0;position: relative;}
.title span{padding:5px;}
.title:before{position: absolute;content:"";bottom:0.7em;left:0;right:0;width:100%;height:2px;}
/* lists */
ul{margin:0}
.list-inline li{display:inline-block;}
.list-block li{display:block}

/* lists with icon avatar */
ul.avatar li{position: relative;padding-left:45px}
ul.avatar li [class^=inya-] {position: absolute;top:5px;left:5px}


.avatar{margin:0;padding: 0}
.avatar img{position:relative;top:0px;left:0px;float:left;width:25px;height:25px}

/* hide */
.hide{display: none}

/* form */
/* button */
.btn{padding:0.8em;margin-right:3px;border:none;outline: none}
.btn:disabled{background: #cdcdcd}
button.btn{padding:1.5em;cursor: pointer;}

/* more style options */
/* no padding */
.np{padding: 0!important}
/* no margin */
.nm{margin: 0!important}
/* no border */
.nb{border:none!important}
/* no radius */
.nr{border-radius:none!important}
/* overflow hidden */
.no{overflow: hidden}
/* bold */
.bold{font-weight: bold}
.nobold{font-weight:normal}
/* text transform */
.capitilize{text-transform:capitalize}
.uppercase{text-transform: uppercase}
.no-hover{background:none!important}

/* wrap images */
.image{width: 100%;height:auto}
.image img{width: 100%;height: auto}

/* text font size */
.xxl-text{font-size: 45px}
.xl-text{font-size: 32px}

/* border */
.border{border:solid 1px}

/* Padding Formatting */
.xxl-padding{padding:60px}
.xl-padding{padding:30px}
.l-padding{padding:15px}
.m-padding{padding:10px}
.s-padding{padding:5px}
/* margin Formatting */
.xxl-margin{margin:60px}
.xl-margin{margin:30px}
.l-margin{margin:15px}
.m-margin{margin:10px}
.s-margin{margin:5px}

/* #PADDING. Horizontal */
.xxl-h-padding{padding-left:30px;padding-right:30px}
.xl-h-padding{padding-left:20px;padding-right:20px}
.l-h-padding{padding-left:15px;padding-right:15px}
.m-h-padding{padding-left:10px;padding-right:10px}
.s-h-padding{padding-left:5px;padding-right:5px}
/* #PADDING. veritical */
.xxl-v-padding{padding-top:30px;padding-bottom:30px}
.xl-v-padding{padding-top:20px;padding-bottom:20px}
.l-v-padding{padding-top:15px;padding-bottom:15px}
.m-v-padding{padding-top:10px;padding-bottom:10px}
.s-v-padding{padding-top:5px;padding-bottom:5px}
/* # MARGINS. Horizontal */
.xxl-h-margin{margin-left:30px;margin-right:30px}
.xl-h-margin{margin-left:20px;margin-right:20px}
.l-h-margin{margin-left:15px;margin-right:15px}
.m-h-margin{margin-left:10px;margin-right:10px}
.s-h-margin{margin-left:5px;margin-right:5px}
/* # MARGINS. veritical */
.xxl-v-margin{margin-top:30px;margin-bottom:30px}
.xl-v-margin{margin-top:20px;margin-bottom:20px}
.l-v-margin{margin-top:15px;margin-bottom:15px}
.m-v-margin{margin-top:10px;margin-bottom:10px}
.s-v-margin{margin-top:5px;margin-bottom:5px}
/* rounds */
.radius-1{border-radius:5px;overflow: hidden;}
.radius-2{border-radius:10px ;overflow: hidden;}
.radius-3{border-radius:15px;overflow: hidden; }
.radius-4{border-radius:20px;overflow: hidden; }
.radius-5{border-radius:30px;overflow: hidden; }
.radius-6{border-radius:65px;overflow: hidden;}

.relative{ position: relative;}

form{margin:0.5%;width:99%;clear: both;}
.input-field{
    padding:2% 0.5%;
    width:99%
}
.input-field input,
.input-field textarea
{
    padding:1em 1.5%;
    width:97%;
    margin:0.5em 0;
    border:1px solid #959595;
    border-radius: 25px
}
.input-field input:focus, .input-field textarea:focus {
    border:1px solid #3cb44a!important;
    outline:none!important;
    box-shadow:0px 0px 5px rgba(0,0,0,0.4)!important;
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4)!important;
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4)!important;
}
.input-field textarea{
    min-height: 20px;
    resize: none
}
*:focus {
    outline: none;
}
/* shadow */
.shadow-1{box-shadow: 0 0 5px rgba(0,0,0,0.2)}
.shadow-2{box-shadow: 0 0 10px rgba(0,0,0,0.2)}
.shadow-3{box-shadow: 0 0 12px rgba(0,0,0,0.2)}
.shadow-4{box-shadow: 0 0 16px rgba(0,0,0,0.2)}
.shadow-5{box-shadow: 0 0 20px rgba(0,0,0,0.5)}


/* loading */
.loading{background:#ededed;margin: 0;width: 100%;height:4px!important;border-radius: 4px;position: relative;top:0;left:0;display: none}
.loading::before{background:#cc1f1f;width:25px;position: absolute;top:0;left:0;content: "";z-index: 2;height:4px;animation: loading1 1.5s infinite;}
/*  */
@keyframes loading1{
    0%{width:0;left:0;}
    50%{width:50%;right:0;}
    100%{width:100%;right: 0}
}

.placeholder{margin:0;background: #ededed;width: 100%;border-radius:25px}

.card{width:94%;padding:1.5%;margin:1.5%}
/* center everything */
.center{margin-left:auto;margin-right:auto;display:block;position:relative;left:0;right:0}

/* footer */
.footer-links .list-inline li{margin:auto 0.4em}
.footer-links a{padding:0.7em 0;display: block}

/* timestamp */
.timestamp{font-size: 0.8em}

/* chips */
.chip{display: inline-block; height: 32px;font-size: 13px;font-weight:700;line-height: 32px;padding: 0 12px;border-radius: 16px;margin-bottom: 5px;margin-right: 5px;}

/* sidebar */
#sidebar{position: fixed;top:0;left:0;width:220px;height:100%;z-index:20000000}
#layer{position: fixed;top:0;left:0;right:0;content: "";width: 100%;height:100%;z-index:2000000;}
#sidebar ul{position: relative;z-index:150000;}
#sidebar li{display:block;padding:14px 0 14px 22px;margin:14px 0;position: relative;}
#sidebar li a{font-weight:800;padding:15px auto;}
#sidebar li [class^=inya-]{font-size:22px;position: absolute;top:12px;left:-16px}

/* close menu */
.closeSidebar{position: absolute;right:-35px;top:25px;}

.divider{width:100%;height:1px;clear:both}
/* li.divider{width:100%;height:1px!important;left:0;clear:both;margin:0!important;padding:0!important;position:relative!important;} */


/* article body */
.artbody{font-size: 16px}
.artbody p{margin:8px 0}

/* wrap comment */
.wrapcomment{border:1px solid #cdcdcd;padding: 8px}
.wrapcomment li{padding:10px 0;border-bottom:1px solid #dedede;}
.wrapcomment li:last-child{border:none}